{% include "header.html" %}
<script>
	checkCookie();
</script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.12.4.js"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/static/customizedjs/datepicker.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#datesubmitbutton").click(function(event){
			event.preventDefault();
			var el = document.getElementsByName("csrfmiddlewaretoken");
			csrf_value = el[0].getAttribute("value");
			$.ajax({
					url: "http://127.0.0.1:8000/user/workdetails",
					type:"POST",
					data: {
					'inputDate':$("#datepicker-6").val(),
					'csrfmiddlewaretoken':csrf_value
					},
					dataType: "json",
					success: function(response){
					var len = response.userlist.length;
					if(response){
							console.log(response);
							for (i = 0; i < len; i++) {
								var user_name = response.userlist[i].first_name;
								// var aa = document.getElementById("name").innerHTML=user_name;
								$("#name").append("<td>" +user_name+ "</td >");

							};
							if(response.status==201){
								alert("Successfully!");
								
							}
							if(response.status==500){
								console.log("Error ")
								 
							};
							 
						}
				},
				error: function (err) {
					return false;
				}
	
			});
	
		});
	});
	
</script>

<style>
	.ui-datepicker-trigger { 
	position:relative;
	/*top:10px ;*/
	right:30px ; 
	height:25px }
	/* {} is the value according to your need */
</style>
<body>
	<!-- <span id="name">Name:</span> -->
	<div class="wrapper">
	<div class="sidebar" data-image="/static/img/sidebar-5.jpg">
		<!--
			Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
			
			Tip 2: you can also add an image using data-image tag
			-->
		<div class="sidebar-wrapper">
			<div class="logo">
				<a href="http://www.thoughtwin.com" class="simple-text">
				Thoughtwin
				</a>
			</div>
			<ul class="nav">
				<li  class="nav-item active">
					<a class="nav-link" href="/user/admindashboard">
						<i class="fa fa-pie-chart" aria-hidden="true"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li>
					<a class="nav-link" href="/user/admindetails">
						<i class="fa fa-user fa" aria-hidden="true"></i>
						<p>User Profile</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="main-panel">
	<!-- fixed plugin  -->
	<div class="fixed-plugin">
	</div>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg " color-on-scroll="500">
		<div class=" container-fluid  ">
			<a class="navbar-brand" href="admindashboard">Admin Dashboard </a>
			<button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-bar burger-lines"></span>
			<span class="navbar-toggler-bar burger-lines"></span>
			<span class="navbar-toggler-bar burger-lines"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navigation">
				<ul class="nav navbar-nav mr-auto">
					<li class="nav-item">
						<a href="#" class="nav-link" data-toggle="dropdown">
						<span class="d-lg-none">Dashboard</span>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" onclick="deleteAllCookies()"    >
						<span class="no-icon">Log out</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End Navbar -->
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
				</div>
				<form>
					{% csrf_token %}
				</form>
				<div class="col-md-12">
					<h4>Select Date from Datepicker</h4>
					<br>
					<p>Enter Date: <input type = "text" id = "datepicker-6"></p>
					<button id=datesubmitbutton>Submit</button>
					<br>
					<h4>Users List</h4>
					<div class="container">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Firstname</th>
									<th>Lastname</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									{% for list in userslist %}
								<tr>
									<td value="{{list.user}}"><a href="../task/taskdetail/{{list.user}}">{{list.first_name}}</a></td>
									<td value="{{list.user}}"><a href="../task/taskdetail/{{list.user}}">{{list.last_name}}</td>
								</tr>
								{% endfor %}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="container">
					<!-- <span id="name">NAME:</span> -->
					<table class="table table-striped">
							<thead>
								<tr>
									<th>Firstname</th>
									<!-- <th>Lastname</th> -->
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
									{% for list in userslist %} -->
								<tr id="name">
									<td><a href="name"></a></td>
									<!-- <td value="{{list.id}}">{{list.last_name}}</td> -->
								</tr>
								<!-- {% endfor %}
								</tr> -->
							</tbody>
						</table>	
				</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}